* {
	margin:0px;
	padding:0px;
	/*border:1px solid;*/
}
.clearItems:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
* html .clearItems {
    height:1%;
}
#hangman {
	margin:20px;
}
#alphabet {
	margin:10px;
	text-align:center;
}
#mrSticky {
	display:block;
	margin:auto;
}
h1 {
	text-align:center;
	margin:10px;
}
.alpha_odd {
	width:420px;
	margin:0 auto;
}
.alpha_even {
	width:361px;
	margin:0 auto;
}
.alpha_odd button, .alpha_even button {
	padding:10px;
	margin:5px 3px;
	width:50px;
	border-radius:10px;
}
#startGame {
  padding:10px;
  margin:10px;
  width:100px;
  border-radius:10px;
}
#randomWord {
	height:70px;
  text-align:center;
}
#gameMessage {
	height:20px;
	text-align:center;
}
.dashes {
	display:inline-block;
}
